header {
  background: #fff;
  padding: 25px 0; }

main {
  background: #f5f5f5;
  overflow: hidden; }
  main p.zhu {
    background: #fff;
    font: 12px/30px "";
    color: #6F6F6F;
    margin: 30px 0;
    padding-left: 15px; }
  main table {
    background: #fff;
    overflow: hidden; }
    main table thead {
      font: 12px/40px "";
      color: #6F6F6F;
      padding: 0 40px 0 44px; }
      main table thead th:nth-child(1) {
        width: 120px; }
      main table thead th:nth-child(2) {
        width: 300px; }
      main table thead th:nth-child(3) {
        width: 150px; }
      main table thead th:nth-child(4) {
        width: 170px; }
      main table thead th:nth-child(5) {
        width: 100px; }
    main table tbody {
      font: 12px/50px "";
      color: #6F6F6F;
      text-align: center; }
      main table tbody tr {
        height: 100px;
        border-top: 1px solid #f5f5f5; }
        main table tbody tr img {
          width: 74px;
          height: 74px; }
        main table tbody tr em img {
          width: 19px;
          height: 19px; }
        main table tbody tr p {
          font: 12px/2 ""; }
        main table tbody tr td:nth-child(1) {
          width: 120px; }
        main table tbody tr td:nth-child(2) {
          width: 300px; }
        main table tbody tr td:nth-child(3) {
          width: 150px; }
        main table tbody tr td:nth-child(4) {
          width: 170px; }
        main table tbody tr td:nth-child(5) {
          width: 100px; }

.empty {
  height: 50px;
  background: #f5f5f5; }
