<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/sfl.css" />
		<link rel="stylesheet" href="css/car.css" />
	</head>
	<body>
		<div class="top">
		    <div class="margin">
			    <span>欢迎来到丝芙兰</span>
			    <div class="left">
			    	<a href="#">请登录</a>
			        <span>|</span>
			        <a href="#">免费注册</a>
			        <a href="#">手机验证码登录</a>
			    </div>
			    <div class="right">
			    	<img src="imgs/s1.png"><a href="#">我的丝芙兰</a>
			        <img src="imgs/s2.png"><a href="#">会员俱乐部</a>
			        <a href="#">手机丝芙兰</a>
			        <a href="#">美力事业</a>
			        <a href="#">帮助中心</a>
			    </div>
			</div>
		</div>
		<header>
			<div class="margin">
				<a href="index.html"><img src="imgs/logo.png"/></a>
			</div>
		</header>
		<main>
			<div class="margin">
				<p class="zhu">您的购物车清单如含近效期产品，该近效期产品不支持7天无理由退货，近效期产品为页面有特效示有效期信息的产品</p>
				<table class="margin">
			<thead>
				<tr>
					<th>图片</th>
					<th>商品信息</th>
					<th>价格</th>
					<th>数量</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				 <!--<tr>
					<td><img src="imgs/goods1.jpg"/></td>
					<td><p>SHJKSAHDJKDJKNCA</p><p>丝芙兰然唇膏</p></td>
					<td>￥95.00</td>
					<td>1</td>
					<td><em>删除</em></td>
				</tr> -->
			</tbody>
		</table>
			</div>
		</main>
		<div class="empty"></div>
		
		<div class="bot">
		<div class="margin">
			<div class="bot-t">
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">顺丰EMS速达</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">丰富礼增</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">100%官方正品</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">无障碍退款</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">安全支付</span>
				    </div>
		    </div>
		    <ul>
		      <li>
		      	 <a href="#" class="te">购物流程</a>
		      	 <a href="#">大宗采购/团购</a>
		      	 <a href="#">丝芙兰预付卡章程</a>
		      </li>
		      <li>
		      	 <a href="#" class="te">支付/配送</a>
		      	 <a href="#">货到付款</a>
		      	 <a href="#">在线支付</a>
		      	 <a href="#">配送时间</a>
		      </li>
		      <li>
		      	 <a href="#" class="te">售后服务</a>
		      	 <a href="#">退换货规定</a>
		      	 <a href="#">退换及退款说明</a>
		      </li>
		      <li>
		      	 <a href="#" class="te">关于丝芙兰</a>
		      	 <a href="#">公司介绍</a>
		      	 <a href="#">联系我们</a>
		      </li>
		      <li>
		      	<a href="#" class="te">网上订购咨询热线：400 670 0055</a>
		      </li>
		    </ul>
		</div>
	</div>
	<footer>
		<div class="margin valign">
			<ul>
				<li><a href="#">沪公网安备 31010602003121号</a></li>
				<li><a href="#">ICP备案序号:沪ICP备05026645号</a></li>
				<li><a href="#">网站使用条款</a></li>
				<li><a href="#">严正声明</a></li>
			</ul>
			<p><a href="#">本网站隶属于丝芙兰（上海）化妆品销售有限公司</a></p>
		</div>
	</footer>
	</body>
	<script src="js/car-main.js" type="module"></script>
</html>
