<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/sfl.css" />
		<link rel="stylesheet" href="css/register.css" />
	</head>
	<body>
		<header>
			<div class="margin">
				<img src="imgs/logo.png">
				<span>欢迎注册</span>
				<div class="go-login">
					<p>已有账号？</p>
					<a href="login.html">立即登录</a>
				</div>
			</div>
		</header>
		<main>
			<div class="ipt margin">
			    <p>用户名：</p><input type="text" id="user">
			    <div class="error"></div>
                <p>密码：</p><input type="text" id="pass">
			    <div class="error"></div>
                <input type="button" value="注册" id="btn">
                <span id="msg"></span>
            </div>
		</main>
		
<footer>
    <div class="margin valign">
		<ul>
			<li><a href="#">沪公网安备 31010602003121号</a></li>
			<li><a href="#">ICP备案序号:沪ICP备05026645号</a></li>
			<li><a href="#">网站使用条款</a></li>
			<li><a href="#">严正声明</a></li>
		</ul>
		<p><a href="#">本网站隶属于丝芙兰（上海）化妆品销售有限公司</a></p>
	</div>
</footer>
	</body>
	<script type="text/javascript" src="js/jquery.js" ></script>
	<script type="text/javascript" src="js/register.js" ></script>
</html>
