main{padding:40px 0;overflow: hidden;
    .left{float:left;position:relative;
         img{width:320px;height:320px;}
         span{width:130px;height:100px;background:rgba(200,200,200,.5);position: absolute;top:0;left:0;display:none;}
         p{width:100%;height:100%;position:absolute;left:0;top:0;z-index: 4;margin:0;padding:0;}
    }
    .bbox{width:450px;height:450px;overflow: hidden;position: absolute;left:400px;top:100px;display: none;
          img{width:600px;height:600px;position: absolute;left:0;top:0;}}
    .right{float:left;
        .title{border-bottom: 1px solid #f5f5f5;overflow: hidden;padding:10px 0;
            .title-l{float:left;width:650px;margin-left:10px;
                h1{font:500 20px/36px "";color:#000;}
                span{font:14px/20px "";color:#000;margin-top: 8px;}
                p{font:12px/20px "";color:#666;}
            }
            .title-r{float:left;width:144px;}
        }
        .price{padding:20px 0;margin-left:10px;
            span{font:14px/20px "";color:#666;margin-right:20px;}
            span.money{font:24px/30px "";color:#000;}
        }
        .fourButton{margin-top: 20px;overflow: hidden;
            .num{float: left;width: 68px;height: 39px;margin: 0 10px 0 64px;border: 1px solid #ddd;overflow: hidden;
                .numbox{float: left;height: 39px;line-height: 39px;width: 48px;border-right: 1px solid #ddd;color: #000;font-size: 16px;text-align: center;
                     input{height: 39px;line-height: 39px;width: 48px;text-align: center;border:0;}
                }         
                .numleft{float: left;text-align: center;
                    .ttop{width: 19px;height: 19px;border-bottom: 1px solid #ddd;}   
                    .bottom{width: 19px;height: 19px;}
                }
                
            }
            em{float:left;width:175px;height:40px;background:red;margin-left:10px;font:16px/40px "";color:#fff;text-align: center;cursor: pointer;}
        }
    }
}
