<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/sfl.css" />
		<link rel="stylesheet" href="css/detail.css" />
	</head>
	<body>
		<div class="top">
		    <div class="margin">
			    <span>欢迎来到丝芙兰</span>
			    <div class="left">
			    	<a href="#">请登录</a>
			        <span>|</span>
			        <a href="#">免费注册</a>
			        <a href="#">手机验证码登录</a>
			    </div>
			    <div class="right">
			    	<img src="imgs/s1.png"><a href="#">我的丝芙兰</a>
			        <img src="imgs/s2.png"><a href="#">会员俱乐部</a>
			        <a href="#">手机丝芙兰</a>
			        <a href="#">美力事业</a>
			        <a href="#">帮助中心</a>
			    </div>
			</div>
		</div>
		<header class="h1 margin">
			<a href="index.html"><img src="imgs/logo.png" class="logo"/></a>
			<div class="sel">
			    <div class="select">
			        <input type="text" value="小众香水" id="txt"/>
			        <input type="button" value="搜索" id="btn"/>
			    </div>
			    <div class="sel-b">
			    	<a href="#">热销好物榜</a>
			    	<a href="#">拯救熬夜脸</a>
			    	<a href="#">精致底妆</a>
			    	<a href="#">女王护肤秘籍</a>
			    	<a href="#">光感肌底妆</a>
			    	<a href="#">都市新香</a>
			    </div>
			</div>
			<div class="car">
				<a href="car.html">
					<img src="imgs/s3.png"/>
					<span>购物袋</span>
				</a>
			</div>
		</header>
		<header class="h2 margin">
			<nav class="nav1">
			<div class="title">
				<span>全部商品类目</span>
			</div>
			<ul>
				<li>
					<h4>热门</h4>
					<a href="#">魅惑美唇</a>
					<a href="#">塑造立体轮廓</a>
					<a href="#">热销气垫</a>
				</li>
				<li>
					<h4>功效</h4>
					<a href="#">保湿补水</a>
					<a href="#">底妆修容</a>
					<a href="#">美白</a>
				</li>
				<li>
					<h4>护肤</h4>
					<a href="#">面膜</a>
					<a href="#">美容仪器</a>
					<a href="#">隔离防晒</a>
				</li>
				<li>
					<h4>彩妆</h4>
					<a href="#">质感哑光唇</a>
					<a href="#">九色中国肌</a>
				</li>
				<li>
					<h4>香水</h4>
					<a href="#">MasisonMargiela新香</a>
					<a href="#">罗意威随身装礼盒</a>
				</li>
				<li>
					<h4>工具</h4>
					<a href="#">美妆蛋套装</a>
					<a href="#">丝芙兰豪华刷具套装</a>
				</li>
				<li>
					<h4>男士护肤</h4>
					<a href="#">换季护肤必备</a>
					<a href="#">精选男士之选</a>
				</li>
				<li>
					<h4>洗浴护体</h4>
					<a href="#">缤纷沐浴</a>
					<a href="#">保湿手霜</a>
					<a href="#">多彩润唇</a>
				</li>
				<li>
					<h4>美发护发</h4>
					<a href="#">裴研丽特惠礼盒</a>
					<a href="#">塞巴斯汀明星造型</a>
				</li>
			</ul>
		</nav>
		<div class="h2-t">
	            <nav class="nav2">
	         	   <a href="goods.html">畅销榜单</a>
	         	   <a href="active.html">秒杀抢购</a>
                   <a href="#">礼物套装</a>
	         	   <a href="#">全部品牌</a>
	         	   <a href="#">预约中心</a>
	         	   <a href="#">美力学院</a>
	            </nav>	
	            <img src="imgs/s5.png">
	         </div>
		</header>
		
		<main class="margin" id="main">
			<!--<div class="left" indexid="">
				<img src="imgs/goods1.jpg"/>
				<span></span>
			    <p></p>
			</div>
			<div class="bbox">
			    <img src="imgs/goods1.jpg" />
		   </div>
			<div class="right">
				<div class="title">
					<div class="title-l">
						<h1>丝芙兰染唇膏</h1>
						<span>SEPHORA CREAM LIP ATAIN</span>
						<p>强你空间撒才能不记得上色，给予唇部鲜亮颜色，可持续几个小时不掉色。很好地死彼此间的时刻，吃保持单位，挥舞起点击的。</p>
					</div>
					<div class="title-r">
						<img src="imgs/s7.png"/>
					</div>
				</div>
				<div class="price">
					<span>价格</span>
					<span class="money">￥95</span>
				</div>
				<div class="fourButton">
					<div class="num">
						<div class="numbox">
							<input class="txt" type="text" value="1">
						</div>
						<div class="numleft">
							<div class="ttop"><img src="imgs/top.png"/></div>
							<div class="bottom"><img src="imgs/bottom.png"/></div>
						</div>
					</div>
					<em>加入购物车</em>
				</div>
			</div>-->
		</main>
		
		<div class="bot">
		<div class="margin">
			<div class="bot-t">
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">顺丰EMS速达</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">丰富礼增</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">100%官方正品</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">无障碍退款</span>
				    </div>
				    <span class="split"></span>
				    <div class="bot-cont">
				    	<img src="imgs/guess1.png">
					    <span class="text">安全支付</span>
				    </div>
		    </div>
		    <ul>
		      <li>
		      	 <a href="#" class="te">购物流程</a>
		      	 <a href="#">大宗采购/团购</a>
		      	 <a href="#">丝芙兰预付卡章程</a>
		      </li>
		      <li>
		      	 <a href="#" class="te">支付/配送</a>
		      	 <a href="#">货到付款</a>
		      	 <a href="#">在线支付</a>
		      	 <a href="#">配送时间</a>
		      </li>
		      <li>
		      	 <a href="#" class="te">售后服务</a>
		      	 <a href="#">退换货规定</a>
		      	 <a href="#">退换及退款说明</a>
		      </li>
		      <li>
		      	 <a href="#" class="te">关于丝芙兰</a>
		      	 <a href="#">公司介绍</a>
		      	 <a href="#">联系我们</a>
		      </li>
		      <li>
		      	<a href="#" class="te">网上订购咨询热线：400 670 0055</a>
		      </li>
		    </ul>
		</div>
	</div>
	<footer>
		<div class="margin valign">
			<ul>
				<li><a href="#">沪公网安备 31010602003121号</a></li>
				<li><a href="#">ICP备案序号:沪ICP备05026645号</a></li>
				<li><a href="#">网站使用条款</a></li>
				<li><a href="#">严正声明</a></li>
			</ul>
			<p><a href="#">本网站隶属于丝芙兰（上海）化妆品销售有限公司</a></p>
		</div>
	</footer>
	</body>
	<script src="libs/jquery.js"></script>
	<script src="libs/jquery.cookie.js"></script>
	<script src="js/detail.js" ></script>
	<script>
		var osbox = $("#main .left");
        var oimg1 = $("#main .left img");
        var ospan = $("#main .left span");
        var op = $("#main .left p");
        var obbox = $("#main .bbox");
        var oimg = $("#main .bbox img");
		osbox.mouseover(function(){
            ospan.css({display:"block"});
            obbox.css({display:"block"});
            
			osbox.mousemove(function(eve){
				var e=eve||window.event;
				var l=e.offsetX -ospan.width()/2;
				
				var t=e.offsetY -ospan.height()/2;
				if(l<0){
					l=0;
				}
				if(l>osbox.width()-ospan.width()){
					l=osbox.width()-ospan.width()
				}
				if(t<0){
					t=0;
				}
				if(t>osbox.height()-ospan.height()){
					t=osbox.height()-ospan.height()
				}
				var x=l/(osbox.width()-ospan.width());
				var y=t/(osbox.height()-ospan.height());
				oimg.css({left:(obbox.width()-oimg.width())*x});
                oimg.css({top:(obbox.height()-oimg.height())*y});
				
				ospan.css({left:l});
				ospan.css({top:t});
				
			})
		})
		osbox.mouseout(function(){
            ospan.css({display:"none"});
            obbox.css({display:"none"});
            
		})
	</script>
</html>
